<div class="container" style="color: #0f0f0f">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" role="form" style="display: block;">
                                <p>Por favor introduzca los números que quiera cambiar separados por comas</p>
                                <div class="form-group">
                                    <textarea ng-model="numbers" class="form-control" rows="5" id="comment"></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <center>
                                            <div class="btn-group">
                                                <label class="btn btn-primary" ng-class="{'active':radioModel === 0}" ng-click="changeModel(0)">$ to €</label>
                                                <label class="btn btn-primary" ng-class="{'active':radioModel === 1}" ng-click="changeModel(1)">€ to $</label>
                                            </div>
                                        </center>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input ng-click="change()" type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Analyze">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div ng-switch="data==null">
                            <div ng-switch-when="false" class="col-lg-12" style="padding: 1%; margin: 5%">
                                <p ng-repeat="item in data">
                                    <!--{{item|json}}-->
                                    {{item.amount1}}{{item.currency1}} -> {{item.amount2}}{{item.currency2}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<p style="color: #0f0f0f">-->
    <!--{{radioModel}} <br>-->
    <!--{{numbers | json}}<br>-->
    <!--{{data | json}}-->
<!--</p>-->

<link rel="stylesheet" type="text/css" href="app/auth.css">