<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center bg-4">
    <h3 class="margin">Wat we do?</h3><br>
    <div class="row">
        <div class="col-sm-4">
            <h1><a href="#/projects/calculator">Calculator</a></h1>
            <p>Very complex calculator that works really well</p>
            <a href="#/projects/calculator">
                <img src="./imgs/birds1.jpg" class="img-responsive margin" style="width:100%" alt="Image">
            </a>
        </div>
        <div class="col-sm-4">
            <h1><a href="#/projects/textanalyzer">Text Analyzer</a></h1>
            <p>Statistics about texts</p>
            <a href="#/projects/textanalyzer">
                <img src="./imgs/birds2.jpg" class="img-responsive margin" style="width:100%" alt="Image">
            </a>
        </div>
        <div class="col-sm-4">
            <h1><a href="#/projects/shop">Shop</a></h1>
            <p>Buy cool music</p>
            <a href="#/projects/textanalyzer">
                <img src="./imgs/birds3.jpg" class="img-responsive margin" style="width:100%" alt="Image">
            </a>
        </div>
        <div class="col-sm-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <img src="./imgs/birds1.jpg" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <img src="./imgs/birds2.jpg" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <img src="./imgs/birds3.jpg" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
    </div>
</div>