<div class="row" style="padding: 1%; padding-left: 3%; padding-right: 2%">
    <div class="input-group col-md-12">
        <input ng-model="search" type="text" class="search-query form-control" placeholder="Search"/>
        <span class="input-group-btn">
            <button class="btn btn-danger" type="button">
                <span class=" glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
</div>

<p>
    {{search | json}}
</p>

<div class="row">
    <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="item in carrito">
        <div class="thumbnail">
            <img ng-src="{{item.image}}" alt="">
            <div class="caption">
                <h4 class="pull-right">{{item.price}}</h4>
                <h4><a href="#/projects/shop/products/{{item.id}}">{{item.name}}</a></h4>
                <!--<p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>-->
            </div>
            <!--<div class="ratings">-->
                <!--<p class="pull-right">15 reviews</p>-->
                <!--<p>-->
                    <!--<span class="glyphicon glyphicon-star"></span>-->
                    <!--<span class="glyphicon glyphicon-star"></span>-->
                    <!--<span class="glyphicon glyphicon-star"></span>-->
                    <!--<span class="glyphicon glyphicon-star"></span>-->
                    <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--</p>-->
            <!--</div>-->
        </div>
    </div>
</div>

    <!--<div class="col-sm-4 col-lg-4 col-md-4">-->
        <!--<div class="thumbnail">-->
            <!--<img src="imgs/bird.jpg" alt="">-->
            <!--<div class="caption">-->
                <!--<h4 class="pull-right">$64.99</h4>-->
                <!--<h4><a href="#">Second Product</a>-->
                <!--</h4>-->
                <!--<p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
            <!--</div>-->
            <!--<div class="ratings">-->
                <!--<p class="pull-right">12 reviews</p>-->
                <!--<p>-->
                    <!--<span class="glyphicon glyphicon-star"></span>-->
                    <!--<span class="glyphicon glyphicon-star"></span>-->
                    <!--<span class="glyphicon glyphicon-star"></span>-->
                    <!--<span class="glyphicon glyphicon-star"></span>-->
                    <!--<span class="glyphicon glyphicon-star-empty"></span>-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="col-sm-4 col-lg-4 col-md-4">-->
        <!--<div class="thumbnail">-->
            <!--<img src="imgs/bird.jpg" alt="">-->
            <!--<div class="caption">-->
                <!--<h4 class="pull-right">$74.99</h4>-->
                <!--<h4><a href="#">Third Product</a>-->
                <!--</h4>-->
                <!--<p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
            <!--</div>-->
            <!--<div class="ratings">-->
                <!--<p class="pull-right">31 reviews</p>-->
                <!--<p>-->
                    <!--<span class="glyphicon glyphicon-star"></span>-->
                    <!--<span class="glyphicon glyphicon-star"></span>-->
                    <!--<span class="glyphicon glyphicon-star"></span>-->
                    <!--<span class="glyphicon glyphicon-star"></span>-->
                    <!--<span class="glyphicon glyphicon-star-empty"></span>-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="col-sm-4 col-lg-4 col-md-4">-->
        <!--<div class="thumbnail">-->
            <!--<img src="imgs/bird.jpg" alt="">-->
            <!--<div class="caption">-->
                <!--<h4 class="pull-right">$84.99</h4>-->
                <!--<h4><a href="#">Fourth Product</a>-->
                <!--</h4>-->
                <!--<p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
            <!--</div>-->
            <!--<div class="ratings">-->
                <!--<p class="pull-right">6 reviews</p>-->
                <!--<p>-->
                    <!--<span class="glyphicon glyphicon-star"></span>-->
                    <!--<span class="glyphicon glyphicon-star"></span>-->
                    <!--<span class="glyphicon glyphicon-star"></span>-->
                    <!--<span class="glyphicon glyphicon-star-empty"></span>-->
                    <!--<span class="glyphicon glyphicon-star-empty"></span>-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="col-sm-4 col-lg-4 col-md-4">-->
        <!--<div class="thumbnail">-->
            <!--<img src="imgs/bird.jpg" alt="">-->
            <!--<div class="caption">-->
                <!--<h4 class="pull-right">$94.99</h4>-->
                <!--<h4><a href="#">Fifth Product</a>-->
                <!--</h4>-->
                <!--<p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
            <!--</div>-->
            <!--<div class="ratings">-->
                <!--<p class="pull-right">18 reviews</p>-->
                <!--<p>-->
                    <!--<span class="glyphicon glyphicon-star"></span>-->
                    <!--<span class="glyphicon glyphicon-star"></span>-->
                    <!--<span class="glyphicon glyphicon-star"></span>-->
                    <!--<span class="glyphicon glyphicon-star"></span>-->
                    <!--<span class="glyphicon glyphicon-star-empty"></span>-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->