<div class="row" style="padding: 1%; padding-left: 3%; padding-right: 2%">
    <div class="input-group col-md-12">
        <input ng-model="searchdata.str" type="text" class="search-query form-control" placeholder="Search" style="width: 95%;"/>
        <span class="input-group-btn" style="width: 10%">
            <button class="btn btn-danger" type="button" ng-click="search()">
                <span class=" glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
    <br>
    <div class="form-group">
        <div class="row">
            <center>
                <div class="btn-group">
                    <label class="btn btn-primary" ng-class="{'active':radioModel === 0}" ng-click="changeModel(0)">$ to €</label>
                    <label class="btn btn-primary" ng-class="{'active':radioModel === 1}" ng-click="changeModel(1)">€ to $</label>
                </div>
            </center>
        </div>
    </div>
</div>

<!--<p style="color: #0f0f0f">-->
    <!--{{searchdata | json}} <br>-->
    <!--{{carrito | json}}-->
<!--</p>-->

<div class="row">
    <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="item in carrito">
        <div class="thumbnail">
            <img ng-src="{{item.image}}" alt="">
            <div class="caption">
                <h4 class="pull-right">{{item.price}}{{unit}}</h4>
                <h4><a href="#/projects/shop/products/{{item.id}}">{{item.name}}</a></h4>
                <p>{{item.autor}}</p>
            </div>
        </div>
    </div>
</div>