<link rel="stylesheet" type="text/css" href="app/calc.css">

<div style="height: 15%"></div>

<div class="center container-fluid bg-1" style="border: solid red">
    <div class="row-fluid">
        <div class="calc-screen span12 well">
            <div class="row">
                <div class="col-md-8 col-xs-12" style="text-align: right">
                    Hello
                </div>
                <div class="col-xs-1" style="text-align: center">
                    =
                </div>
                <div class="col-md-3 col-xs-11" style="text-align: right">
                    World
                </div>
            </div>
        </div>
    </div>
    </div>
</div>